/* Settings and Basic styles */
/* H1 padding */
/* Common classes used for styling */
.animate {
  transition: all 250ms ease-in-out;
}
.cover {
  background-size: cover;
  background-position: center center;
}
.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.has-white-color {
  color: #fff;
}
.has-black-color {
  color: #111;
}
.has-gray-color {
  color: #f8f8f7;
}
.has-white-background-color {
  background-color: #fff;
}
.has-black-background-color {
  background-color: #111;
}
.has-gray-background-color {
  background-color: #f8f8f7;
}
